# From https://github.com/gnthibault/HuaweiSMSender
# sudo cp huaweismsservice.service /etc/systemd/system/
# sudo chmod 644 /etc/systemd/system/huaweismsservice.service
# sudo systemctl daemon-reload
# sudo systemctl enable huaweismsservice.service
# sudo reboot
# sudo systemctl status huaweismsservice.service

[Unit]
Description=Huawei SMS service
After=multi-user.target

[Service]
Type=idle
# MUST SET YOUR USERNAME HERE.

User=ubuntu
Environment="PATH=/home/ubuntu/projects/HuaweiSMSender"
ExecStart=python /home/ubuntu/projects/HuaweiSMSender/rest.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
